<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body style="font-family: 'Agency FB', sans-serif;width: 80%;margin: auto">
<header style="text-align: center;background-image: linear-gradient(#00bbff,#ffffff);padding: 1.5rem;color:#ffffff">
    <h1>Order confirmation</h1>
    <h4
            th:text="${#temporals.format(purchase.createDate, 'HH:mm')} + ' ' + ${#temporals.format(purchase.createDate, 'yyyy-MM-dd')}">
        Date</h4>
</header>
<main style="padding: 2rem;">
        <div style="width: 50%; float: left; text-align: center">
            <h4>Number:</h4>
            <h4 th:text="${purchase.id}">number</h4>
        </div>
        <div style="width: 50%;float: right;text-align: center">
            <h4>Summary:</h4>
            <h4 th:text="${purchase.cost}"><b>summary</b></h4>
        </div>
    <table style="border-collapse: collapse;margin: auto; width: 40rem;border: 1px solid grey;text-align: center;color:black">
        <tbody>
        <tr>
            <th style="padding: 10px; border: 1px solid grey;width: 30%">
                <h3>Certificate</h3>
            </th>
            <th style="padding: 10px; border: 1px solid grey;width: 10%">
                <h3>Quantity</h3>
            </th>
            <th style="padding: 10px; border: 1px solid grey;width: 10%">
                <h3>Price</h3>
            </th>
            <th style="padding: 10px; border: 1px solid grey;width: 50%">
                <h3>Description</h3>
            </th>
        </tr>
        <tr th:each="position:${purchase.purchaseCertificates}">
            <td style="padding: 10px; border: 1px solid grey;width: 30%">
                <img class="object-fit-fill" style="max-width: 100%; max-height: 100%;"
                     th:src="${position.certificate.imageUrl}" alt="image">
            </td>
            <td style="padding: 10px; border: 1px solid grey;width: 10%">
                <span th:text="${position.quantity}">quantity</span>
            </td>
            <td style="padding: 10px; border: 1px solid grey;width: 10%">
                <span th:text="${position.certificate.price}">price</span>
            </td>
            <td style="padding: 10px; border: 1px solid grey;width: 50%">
                <span th:text="${position.certificate.shortDescription}">descripion</span>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer style="margin-top:0.5rem;padding: 1rem;text-align:center;background-image: linear-gradient(#ffffff,#00bbff);color: aliceblue">
    <h4>&copy; Voucher Verse </h4>
</footer>
</body>
</html>